version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8080:8080"
    container_name: feedback-backend
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: secret
      DB_NAME: feedbackdb

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    container_name: feedback-frontend
    depends_on:
      - backend

  db:
    image: postgres:15
    container_name: feedback-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: feedback
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
